<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<% if user_signed_in? %>
		Members Welcome
	<% else %>
		<p>
		<%= link_to "Sign up", new_user_registration_path , class: "btn btn-default btn-lrg" %>
		<%= link_to "Log In", new_user_session_path , class: "btn btn-danger btn-lrg" %>
		</p>


	<% end %>

</div>
