<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
		<p>
		<%= link_to "Sign up", "#" , class: "btn btn-default btn-lrg" %>
		<%= link_to "Log In", "#" , class: "btn btn-danger btn-lrg" %>
		</p>
</div>
